<div class="header-wrapper">
  <div class="header d-flex row px-2">

    <!-- Left -->

    <div class="col-4 my-auto">
      <div class="d-flex justify-content-start">
        <img class="img-logo mr-2" src="../../../assets/img/logo_proto1.png">
        <span class="header-title my-auto">Generador de Exámenes</span>
      </div>
    </div>

    <!-- Center -->

    <div class="col-4">
      <div class="d-flex justify-content-center h-100">
        <button routerLink="/composer" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Compositor</button>
        <button routerLink="/collections" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Colecciónes</button>
        <button routerLink="/exams" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Exámemes</button>
      </div>
    </div>

    <!-- Right -->

    <div class="col-4 my-auto">
      <div class="d-flex justify-content-end">
        <span>Logeado como
          <span class="font-weight-bold">Jorje Ramió</span>
        </span>
      </div>
    </div>

  </div>
</div>