<div class="header d-flex row px-3">

  <!-- Left -->

  <div class="col-4 my-auto">
    <div routerLink="/" class="title-container d-flex justify-content-start">
      <img class="img-logo mr-2" src="../../../assets/img/logo_proto1.png">
      <span class="header-title my-auto">Generador de Exámenes</span>
    </div>
  </div>

  <!-- Center -->

  <div class="col-4">
    <div class="d-flex justify-content-center h-100">
      <button routerLink="/composer" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Compositor</button>
      <button routerLink="/collections" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Colecciones</button>
      <button routerLink="/exams" type="button" class="btn btn-link nav-button" routerLinkActive="nav-button-active">Exámenes</button>
    </div>
  </div>

  <!-- Right -->

  <div *ngIf="isLogged else notlogged" class="col-4 my-auto">
    <div class="d-flex justify-content-end h-100">
      <span>Logeado como
        <span class="font-weight-bold">Jorge Ramió</span>
      </span>
    </div>
  </div>
  <ng-template #notlogged>
    <div class="col-4">
      <div class="d-flex justify-content-end h-100">
        <button routerLink="/login" type="button" class="btn btn-link nav-button">Iniciar Sesión</button>
      </div>
    </div>
  </ng-template>

</div>