<div class="footer-wrapper">
  <div class="footer d-flex row">

    <!-- Left -->

    <div class="col-4 my-auto">
      <div class="d-flex justify-content-start">
        <span>&copy; UPM 2018</span>
      </div>
    </div>

    <!-- Center -->

    <div class="col-4 my-auto">
      <div class="d-flex justify-content-center">
        <img class="img-logo" src="../../../assets/img/upm_logo_notext.png">
      </div>
    </div>

    <!-- Right -->

    <div class="col-4 my-auto">
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-link">About</button>
        <button href="http://upm.es" type="button" class="btn btn-link">UPM.es</button>
      </div>
    </div>

  </div>
</div>