<div (window:resize)="onResize($event)">
    <div class="b-window-header d-flex">
        <span class="b-window-title">Colecciones</span>
        <span class="b-window-ongoing">Explorando colecciones</span>
    </div>
    <div class="page-body" [style.height.px]="pageHeight">
        <div class="menu-left">
            <div class="input-group searchbar">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="search_col" id="search_col" placeholder="Buscar colecciones...">
            </div>
            <div class="collections-list">
                <div *ngFor="let collection of oCollections; let i = index" class="collection-container" (click)="selectedId = i">
                    <div class="collection-title" [class.title-selected]="selectedId === i">{{ collection.name ? collection.name : 'Coleccion sin nombre' }}</div>
                    <div class="collection-body" [class.body-selected]="selectedId === i">
                        <p>{{ collection.description ? collection.description : 'Sin descripcion' }}</p>
                        <p class="collection-content">{{ collection.questions.length ? collection.questions.length + ' preguntas' : 'Coleccion vacía' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection-view" [style.width.px]="previewWidth">
            ae
        </div>
    </div>
</div>