<div (window:resize)="onResize($event)">
    <div class="b-window-header d-flex">
        <span class="b-window-title">Colecciones</span>
        <div *ngIf="selectedId === -1 else viewing" class="d-flex justify-content-between w-100">
            <span class="b-window-ongoing">Explorando colecciones</span>
            <div class="d-flex">
                <div (click)="editCollection(oCollections.length, true)" class="control-button button-blue">
                    <i class="fa fa-plus"></i> Nueva coleccion
                </div>
            </div>
        </div>
        <ng-template #viewing>
            <div class="d-flex justify-content-between w-100">
                <span *ngIf="selectedId !== -1 else viewing" class="b-window-ongoing">Editando
                    <span class="font-weight-bold">{{ oCollections[selectedId].title }}</span>
                </span>
                <div class="d-flex">
                    <div (click)="editQuestion(oCollections[selectedId].questions.length, true)" class="control-button button-blue">
                        <i class="fa fa-plus"></i> Añadir pregunta
                    </div>
                    <div (click)="editCollection(oCollections.length, true)" class="control-button button-blue2">
                        <i class="fa fa-plus"></i> Nueva coleccion
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <div class="page-body" [style.height.px]="pageHeight">
        <div class="menu-left">
            <div class="input-group searchbar">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
                <input type="text" class="form-control" name="search_col" id="search_col" placeholder="Buscar colecciones...">
            </div>
            <div class="collections-list" [style.height.px]="collectionsHeight">
                <div *ngFor="let collection of oCollections; let i = index" class="collection-container" (click)="selectedId = i">
                    <div class="collection-title" [class.title-selected]="selectedId === i">{{ collection.title ? collection.title : 'Coleccion sin nombre' }}</div>
                    <div class="collection-body" [class.body-selected]="selectedId === i">
                        <p>{{ collection.description ? collection.description : 'Sin descripcion' }}</p>
                        <p class="collection-content">{{ collection.questions.length ? collection.questions.length + ' preguntas (' + collection.count.test
                            + ' test, ' + collection.count.short + ' ejercicios, ' + collection.count.long + ' problemas)'
                            : 'Coleccion vacía' }}</p>
                    </div>
                    <div class="pl-1" *ngIf="deletingCId !== i">
                        <button (click)="editCollection(i, true)" type="button" class="btn btn-link edit-button linkbutton-blue">
                            <i class="fa fa-edit"></i>&nbsp;Editar detalles</button>
                        <button (click)="deleteCollection(i)" type="button" class="btn btn-link edit-button linkbutton-red">
                            <i class="fa fa-trash"></i>&nbsp;Borrar</button>
                    </div>
                    <div class="pl-1" *ngIf="deletingCId === i">
                        <span class="deleting-msg">Estás seguro?</span>
                        <button (click)="deleteCollection(i)" type="button" class="btn btn-link edit-button linkbutton-red">
                            <i class="fa fa-check"></i>&nbsp;Confirmar</button>
                        <button (click)="deletingCId = -1" type="button" class="btn btn-link edit-button linkbutton-blue">
                            <i class="fa fa-times"></i>&nbsp;Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection-view" [style.width.px]="previewWidth">
            <div *ngIf="selectedId === -1" class="p-2">
                <p>Haz click en una colección para visualizarla</p>
            </div>
            <div *ngIf="selectedId !== -1" class="view-body">
                <div *ngFor="let question of oCollections[selectedId].questions; let qi = index" class="view-question">
                    <div class="view-col-statement d-flex justify-content-between">
                        <span>
                            <span class="ap-header-diff">
                                <span class="ml-1">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span *ngIf="question.difficulty >= 2" class="ml-1">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span *ngIf="question.difficulty == 3" class="ml-1">
                                    <i class="fa fa-circle"></i>
                                </span>
                            </span>
                            <span>Pregunta {{ qi + 1 }}</span>
                        </span>
                        <span *ngIf="question.type === 'test'" class="view-col-type">Test</span>
                        <span *ngIf="question.type === 'short'" class="view-col-type">Ejercicio</span>
                        <span *ngIf="question.type === 'long'" class="view-col-type">Problema</span>
                    </div>
                    <div class="view-col-content">
                        <div *ngIf="question.type === 'test'">
                            <div [innerHTML]=question.statement></div>
                            <div *ngFor="let option of question.options; let i = index">
                                <span class="view-options-number" [class.font-weight-bold]="i === question.correct_option">{{ i + 1 }})</span>
                                <span [innerHTML]=option [class.font-weight-bold]="i === question.correct_option" class="view-options-text"></span>
                            </div>
                        </div>
                        <div *ngIf="question.type !== 'test'">
                            <p [innerHTML]=question.statement></p>
                            <p>
                                <span class="font-weight-bold view-options-number">Solución: </span>
                                <span [innerHTML]="question.solution ? question.solution : 'Sin solucion'" class="view-options-text"></span>
                            </p>
                        </div>
                        <div *ngIf="deletingQId !== qi">
                            <button (click)="editQuestion(qi, true)" type="button" class="btn btn-link edit-button linkbutton-blue">
                                <i class="fa fa-edit"></i>&nbsp;Editar</button>
                            <button (click)="deleteQuestion(qi)" type="button" class="btn btn-link edit-button linkbutton-red">
                                <i class="fa fa-trash"></i>&nbsp;Descartar</button>
                        </div>
                        <div *ngIf="deletingQId === qi">
                            <span class="deleting-msg">Estás seguro?</span>
                            <button (click)="deleteQuestion(qi)" type="button" class="btn btn-link edit-button linkbutton-red">
                                <i class="fa fa-check"></i>&nbsp;Confirmar</button>
                            <button (click)="deletingQId = -1" type="button" class="btn btn-link edit-button linkbutton-blue">
                                <i class="fa fa-times"></i>&nbsp;Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit overlay -->

    <div *ngIf="editingQId !== -1" class="edit-overlay">
        <div class="edit-editor">
            <div class="editor-header">Coleccion
                <span class="font-weight-bold">{{ oCollections[selectedId].title }}</span>
                / Pregunta
                <span class="font-weight-bold">{{ editingQId + 1 }}</span>
            </div>
            <div class="editor-options">
                <p class="editor-label">Tipo</p>
                <div class="form-check">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-light" [class.active]="editingQ.type === 'test'">
                            <input (click)="editingQ.type = 'test'" type="radio" name="options" id="option1" autocomplete="off"> Test
                        </label>
                        <label class="btn btn-light" [class.active]="editingQ.type === 'short'">
                            <input (click)="editingQ.type = 'short'" type="radio" name="options" id="option2" autocomplete="off"> Ejercicio
                        </label>
                        <label class="btn btn-light" [class.active]="editingQ.type === 'long'">
                            <input (click)="editingQ.type = 'long'" type="radio" name="options" id="option3" autocomplete="off"> Problema
                        </label>
                    </div>
                </div>
                <br>
                <p class="editor-label">Dificultad</p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="3" value="2" class="slider" [(ngModel)]="editingQ.difficulty">
                    <div class="d-flex justify-content-between">
                        <span>Facil</span>
                        <span>Intermedio</span>
                        <span>Dificil</span>
                    </div>
                </div>
            </div>
            <div class="collection-title">Enunciado</div>
            <quill-editor [style]="quillStyle" [(ngModel)]="editingQ.statement" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
            <div *ngIf="editingQ.type !== 'test'">
                <div class="collection-title">Solución</div>
                <quill-editor [style]="quillStyle" [(ngModel)]="editingQ.solution" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
            </div>
            <div *ngIf="editingQ.type === 'test'">
                <div class="collection-title row">
                    <div class="col-4 d-flex justify-content-between">
                        <span>Opciones</span>
                        <button (click)="editingQ.options.push('Nueva opción')" type="button" class="btn btn-link edit-button button-newoption">
                            <i class="fa fa-plus"></i>&nbsp;Nueva opción</button>
                    </div>
                </div>
                <div class="row">
                    <div class="editor-options-container col-4">
                        <div (click)="editingOId = io" [class.option-active]="editingOId === io" class="d-flex editor-option" *ngFor="let o of editingQ.options; let io = index">
                            <div [class.option-id-active]="editingOId === io" class="option-id">{{ io + 1 }}</div>
                            <div [innerHTML]="o" class="option-text my-auto"></div>
                            <div *ngIf="editingQ.correct_option === io" class="option-correct my-auto">
                                <i class="fa fa-check"></i>
                            </div>
                            <button (click)="editingQ.correct_option = io" *ngIf="editingQ.correct_option !== io" [class.button-changeoption]="editingOId !== io"
                                [class.button-changeoption-invert]="editingOId === io" type="button" class="btn btn-link edit-button">
                                <i class="fa fa-check"></i>
                            </button>
                            <span (click)="editingQ.correct_option === io ? editingQ.correct_option = 0 : false; editingOId === io ? editingOId = -1 : false; editingQ.options.splice(io, 1);"
                                class="option-remove">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>
                    </div>
                    <div class="quill-optionedit col-8">
                        <quill-editor [(ngModel)]="editingQ.options[editingOId]" [style]="quillStyle" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
                        <div *ngIf="editingOId === -1" class="editor-cover">
                            <span class="editor-cover-text">
                                Seleccione una opcion para editarla
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="editor-options d-flex justify-content-end w-100">
                <div (click)="saveQuestion()" class="control-button button-green">
                    <i class="fa fa-check"></i> Guardar
                </div>
                <div (click)="editQuestion(null, false)" class="control-button button-blue">
                    <i class="fa fa-times"></i> Descartar
                </div>
            </div>
        </div>
    </div>

    <!-- Collection edit overlay -->

    <div *ngIf="editingCId !== -1" class="edit-overlay">
        <div class="edit-details">
            <div class="editor-header">Editando coleccion
                <span class="font-weight-bold">{{ oCollections[editingCId] ? oCollections[editingCId].title : 'Nueva colección' }}</span>
            </div>
            <div class="edit-details-form">
                <div class="form-group">
                    <label for="col_name">Nombre</label>
                    <input [(ngModel)]="editingC.title" type="text" name="col_name" id="col_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="col_desc">Descripción</label>
                    <textarea [(ngModel)]="editingC.description" class="form-control" name="col_desc" id="col_desc" rows="3" style="resize: none"></textarea>
                </div>
            </div>
            <div class="editor-options d-flex justify-content-end w-100">
                <div (click)="saveCollection()" class="control-button button-green">
                    <i class="fa fa-check"></i> Guardar
                </div>
                <div (click)="editCollection(null, false)" class="control-button button-blue">
                    <i class="fa fa-times"></i> Descartar
                </div>
            </div>
        </div>
    </div>
</div>