.wrapper {
    background-color: var(--color-blue-2);
    padding-top: 4rem;
}

.container {
    display: block;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25rem;
}

.title {
    color: white;
    font-size: 28pt;
    font-weight: 300;
    text-align: center;
}

.input-container {
    margin: 1rem 0;
}

label {
    color: var(--color-blue-1-text);
    font-size: 12pt;
    font-weight: 400;
    margin-bottom: .1rem;
}

.login-container {
    margin-top: 2rem;
}

.login-button {
    background-color: var(--color-blue-1);
    color: var(--color-blue-1-text);
    padding: 1rem;
    width: 100%;
    border-radius: 0;
}

.login-button:active, .login-button:hover, .login-button:focus {
    text-decoration: none;
}

.login-button:hover {
    background-color: var(--color-blue-1-hover);
}

.form-group {
    margin-bottom: .3rem;
}

.login-register {
    display: flex;
    justify-content: center;
    color: var(--color-blue-1-text);
    font-weight: 300;
}

.register-button {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: 0;
    color: white;
}