<div (window:resize)="onResize($event)" [style.height.px]="pageHeight" class="wrapper d-flex justify-content-center">
  <div class="container">
    <div class="main">
      <p class="title">Iniciar Sesión</p>
      <div class="form-group">
        <div class="input-container">
          <label for="username">Usuario</label>
          <input [(ngModel)]="formDetails.username" type="text" class="form-control" name="username" id="username" placeholder="Nombre de usuario">
        </div>
        <div class="input-container">
          <label for="password">Contraseña</label>
          <input [(ngModel)]="formDetails.password" type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
        </div>
        <div *ngIf="loading" class="login-loading">
          <span>
            <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Iniciando sesión...</span>
        </div>
        <div *ngIf="error" class="login-error">
          <span>
            <i class="fa fa-warning"></i>&nbsp;{{ error }}</span>
        </div>
        <div class="login-container">
          <div class="button-container w-50 mx-auto">
            <button (click)="login()" type="button" class="btn btn-link login-button">Iniciar sesión</button>
          </div>
        </div>
      </div>
      <span class="login-register">No tienes cuenta?&nbsp;
        <button routerLink="/register" type="button" class="btn btn-link register-button">Regístrate</button>
      </span>
    </div>
  </div>
</div>