@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Hind');
:root {
    --color-bg-global: rgb(235, 235, 235);
    --color-blue-1: #4875df;
    --color-blue-1-hover: #3063d8;
    --color-blue-1-lighthover: #80a1e7;
    --color-blue-1-active: #2452bb;
    --color-blue-1-text: rgb(219, 219, 231);
    --color-dark-1: #2e2e2e;
    --color-dark-1-text: #eeeeee;
    --color-red-1: rgb(241, 79, 79);
    --color-red-1-hover: rgb(230, 120, 120);
    --color-green-1: rgb(40, 216, 40);
    --color-green-1-hover: rgb(57, 224, 57);
    --color-blue-2: #668eee;
    --color-blue-2-hover: #8babf7;
    --color-teal-1: rgb(74, 228, 190);
    --color-teal-1-hover: rgb(131, 243, 215);
    --color-dark-2: rgb(92, 92, 92);
    --reduced-width: 1240px;
}

html {
    position: relative;
    max-width: 100%;
    height: 100%;
}

body {
    /* background-color: var(--color-bg-global); */
    background-color: white;
    height: 100vh;
}

app-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: fit-content;
}

main {
    height: inherit;
}

p {
    margin-bottom: 0;
}

input[type="number"], input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.row {
    margin: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-global);
}

::-webkit-scrollbar-thumb {
    background: #818181;
}

::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
}

/* Custom elements */

.default-wrapper {
    position: relative;
}

/* Window header */

.b-window-header {
    position: relative;
    width: 100%;
    background-color: white;
    box-shadow: 0 .4rem 2.5rem -1rem black;
    z-index: 25;
}

.b-window-title, .b-window-ongoing {
    display: inline-block;
    font-size: 16pt;
    font-weight: 300;
    padding: .65rem;
}

.b-window-title {
    background-color: var(--color-blue-1-hover);
    color: var(--color-blue-1-text);
    padding-left: 2.5rem;
}

/* Card */

.b-card-wrapper {
    position: relative;
    height: auto;
    min-height: 100%;
    background-color: white;
}

.b-card-header {
    background-color: var(--color-dark-1);
    color: var(--color-dark-1-text);
    padding: .25rem .4rem;
}

.b-card-subheader {
    background-color: var(--color-blue-1);
    color: white;
}

.b-card-body {
    background-color: white;
    color: black;
}

/* Subheader buttons */

.control-button {
    padding: 0.4rem 1.5rem;
    font-size: 13pt;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    height: inherit;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: .5rem;
    transition: background-color .2s;
}

.button-green {
    background-color: var(--color-green-1);
    color: white;
}

.button-green:hover {
    background-color: var(--color-green-1-hover);
}

.button-blue {
    background-color: var(--color-blue-1);
    color: white;
}

.button-blue:hover {
    background-color: var(--color-blue-1-hover);
}

.button-blue2 {
    background-color: var(--color-blue-2);
    color: white;
}

.button-blue2:hover {
    background-color: var(--color-blue-2-hover);
}

.button-teal {
    background-color: var(--color-teal-1);
    color: black;
}

.button-teal:hover {
    background-color: var(--color-teal-1-hover);
}

.button-red {
    background-color: var(--color-red-1);
    color: white;
}

.button-red:hover {
    background-color: var(--color-red-1-hover);
}

@media print {
    @page {
        margin: 100px;
    }
}