<div class="container-page" (window:resize)="onResize($event)" [style.height.px]="previewDimensions.height">
  <div class="b-window-header d-flex">
    <span class="b-window-title">Compositor</span>
    <div class="d-flex justify-content-between w-100">
      <span class="b-window-ongoing">Editando
        <span class="font-weight-bold">{{ exam.title ? exam.title : 'Examen sin título' }}</span>
      </span>
      <div class="d-flex">
        <div (click)="editExam(true)" class="control-button button-blue2">
          <i class="fa fa-save"></i>&nbsp;Guardar examen
        </div>
        <div (click)="print()" class="control-button button-blue2">
          <i class="fa fa-print"></i>&nbsp;Imprimir examen
        </div>
      </div>
    </div>
  </div>

  <!-- Left Menu -->

  <div class="menu-section section-left" [style.overflow-y]="previewDimensions.height ? 'auto' : 'hidden'">
    <div class="b-card-wrapper">
      <div class="b-card">
        <!-- Generation -->
        <div class="b-card-header">
          Generación
        </div>
        <div class="b-card-subheader d-flex justify-content-between">
          <span class="subheader-text">Colecciones</span>
          <div (click)="editCollections()" class="subheader-button">
            <i class="fa fa-pencil"></i>
            <span> Modificar</span>
          </div>
        </div>
        <div class="collection-list">
          <div *ngFor="let collection of oCollections" [hidden]="!collection.added" class="collection-item">
            <div class="collection-left">
              <p class="collection-name">{{ collection.title }}</p>
              <small class="collection-details">{{ collection.count.test }} test, {{ collection.count.short }} cortas, {{ collection.count.long }} largas</small>
            </div>
          </div>
          <div *ngIf="oCollections ? oCollections.findIndex(isAdded) === -1 : false">
            <span class="d-flex justify-content-center">Ninguna colección seleccionada</span>
          </div>
        </div>
        <div class="b-card-subheader d-flex justify-content-between">
          <span class="subheader-text">Opciones</span>
        </div>
        <div class="p-1">
          <table class="table">
            <thead>
              <tr style="text-align: center;">
                <th scope="col">Tipo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Valoración</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Test</th>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.test.count" type="number" [max]="typesCount.test" oninput="validity.valid||(value=0)"class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/{{ typesCount.test }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.test.points" type="number" step="0.01" max="10" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/10</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Ejercicios</th>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.short.count" type="number" [max]="typesCount.short" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/{{ typesCount.short }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.short.points" type="number" step="0.01" max="10" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/10</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">Problemas</th>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.long.count" type="number" [max]="typesCount.long" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/{{ typesCount.long }}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="input-group">
                    <input [(ngModel)]="generationOptions.long.points" type="number" step="0.01" max="10" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
                    <div class="input-group-append">
                      <span class="input-group-text">/10</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <p style="font-weight: 500;">Dificultad:</p>
          <div class="d-flex justify-content-between">
            <span>Fácil</span>
            <span>Intermedio</span>
            <span>Difícil</span>
          </div>
          <div class="slidecontainer">
            <input [(ngModel)]="generationOptions.difficulty" type="range" min="1" max="3" value="2" class="slider">
          </div>
        </div>
        <div (click)="generateExam()" class="fullwidth-button button-green">
          Generar
        </div>
      </div>
    </div>
  </div>

  <!-- Right Menu -->

  <div class="menu-section section-right" [style.overflow-y]="previewDimensions.height ? 'auto' : 'hidden'">
    <div class="b-card-wrapper">
      <div class="b-card">
        <div class="b-card-header">
          Estructura
        </div>
        <div class="row">
          <div class="col-6">
            <div (click)="exam.sections[0] ? editQuestion(0, exam.sections[0].questions.length, true) : sharedService.showError('Añada una sección para continuar')" class="fullwidth-button-small button-blue2">
              <i class="fa fa-plus"></i> Pregunta
            </div>
          </div>
          <div class="col-6">
            <div (click)="editSection(exam.sections.length, true)" class="fullwidth-button-small button-blue2">
              <i class="fa fa-plus"></i> Sección
            </div>
          </div>
        </div>
        <div class="b-card-body">
          <div *ngFor="let s of exam.sections; let is = index" class="ap-container">
            <div class="sec-header d-flex justify-content-between">
              <div class="sec-header-title">{{ s.title }}</div>
              <div>
                <span style="cursor: pointer;" (click)="editSection(is)">
                  <i class="fa fa-pencil"></i>
                </span>&nbsp;
                <span style="cursor: pointer;" [class.delete-confirm]="deletingSId === is" (click)="deleteSection(is)">
                  <i class="fa fa-times"></i>
                </span>
              </div>
            </div>
            <div *ngFor="let q of s.questions; let i = index">
              <div class="ap-header d-flex justify-content-between">
                <div class="ap-header-left">
                  <span class="ap-header-diff">
                    <span class="ml-1">
                      <i class="fa fa-circle"></i>
                    </span>
                    <span *ngIf="q.difficulty >= 2" class="ml-1">
                      <i class="fa fa-circle"></i>
                    </span>
                    <span *ngIf="q.difficulty == 3" class="ml-1">
                      <i class="fa fa-circle"></i>
                    </span>
                  </span>
                  <span class="ap-header-name"> Pregunta {{ is + 1 }}.{{i + 1 }}</span>
                  <span class="ap-header-points"> {{ q.max_points }} puntos</span>
                </div>
                <div class="ap-header-right">
                  <span style="cursor: pointer;" (click)="editQuestion(is, i)">
                    <i class="fa fa-pencil"></i>
                  </span>&nbsp;
                  <span style="cursor: pointer;" [class.delete-confirm]="deletingQId.sId === is && deletingQId.qId === i" (click)="deleteQuestion(is, i)">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Main -->

  <div class="section-main" [style.width.px]="previewDimensions.width" [style.overflow-y]="previewDimensions.height ? 'auto' : 'hidden'">
    <div class="preview-container">
      <div class="page-container" [style.zoom]="paperDimensions.width/(595*2)" [style.width.px]="595*2" [style.min-height.px]="842*2">
        <div class="paper">
          <div *ngFor="let s of exam.sections; let i = index">
            <span class="paper-section-title">{{ s.title }}&nbsp;({{ calcTotalPoints(s.questions) }}&nbsp;puntos)</span>
            <p class="paper-question-statement" [innerHTML]="s.statement"></p>
            <div class="paper-question" *ngFor="let q of s.questions; let iq = index">
              <span class="d-flex float-left mr-1">{{ i + 1 }}.{{ iq + 1 }}-</span>
              <div class="d-flex justify-content-between">
                <span [innerHTML]="q.statement"></span>
                <span class="ml-1"> ({{ q.max_points }}&nbsp;puntos)</span>
              </div>
              <span *ngIf="q.type === 'test'">
                <div [class.font-weight-bold]="showSolution && q.correct_option === io" class="paper-test-option" *ngFor="let o of q.options; let io = index">
                  <span class="float-left mr-1">{{ numToLetter(io) }})</span>
                  <span [innerHTML]="o"></span>
                </div>
              </span>
              <span *ngIf="q.type !== 'test' && showSolution">
                <span class="solution font-weight-bold">Solución:&nbsp;</span>
                <span [innerHTML]="q.solution" class="paper-test-option solution"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="showsolution-container">
      <div class="form-check">
        <input style="cursor: pointer;" [(ngModel)]="showSolution" class="form-check-input" type="checkbox" id="solutionChk">
        <label style="cursor: pointer;" class="form-check-label" for="solutionChk">
          Incluir solución
        </label>
      </div>
    </div>
  </div>

  <!-- Add collection overlay -->

  <div *ngIf="addingOverlay" class="edit-overlay">
    <div class="edit-details">
      <div class="editor-header">Modificando colecciónes</div>
      <div class="editor-collections">
        <div *ngFor="let collection of editingCollections" class="editor-collection">
          <div class="row">
            <div class="editor-collection-checkbox col-1">
              <label class="switch-onoff mb-0">
                <input [checked]="collection.added" (change)="collection.added = !collection.added" type="checkbox">
                <span class="slider-onoff round"></span>
              </label>
            </div>
            <div class="col-11">
              <div class="editor-collection-title">
                {{ collection.title }}
              </div>
              <div class="editor-collection-desc">
                {{ collection.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="editor-options d-flex justify-content-end w-100">
        <div (click)="editCollections()" class="control-button button-green">
          <i class="fa fa-check"></i> Guardar
        </div>
        <div (click)="editCollections(false)" class="control-button button-blue">
          <i class="fa fa-times"></i> Cancelar
        </div>
      </div>
    </div>
  </div>

  <!-- Generating loading -->

  <div *ngIf="generating" class="edit-overlay">
    <div class="msg-generating-box">
      <div class="msg-generating">Generando</div>
    </div>
  </div>

  <!-- Question edit overlay -->
  <div *ngIf="editingQId.sId !== -1 && editingQId.qId !== -1" class="edit-overlay">
    <div class="edit-editor">
      <div class="editor-header">Sección
        <span class="font-weight-bold">{{ exam.sections[editingQId.sId].title }}</span>
        / Pregunta
        <span class="font-weight-bold">{{ editingQId.sId + 1 }}.{{ editingQId.qId + 1 }}</span>
      </div>
      <div class="row">
        <div class="editor-options col-6">
          <p class="editor-label">Tipo</p>
          <div class="form-check">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-light" [class.active]="editingQ.type === 'test'">
                <input (click)="editingQ.type = 'test'" type="radio" name="options" id="option1" autocomplete="off"> Test
              </label>
              <label class="btn btn-light" [class.active]="editingQ.type === 'short'">
                <input (click)="editingQ.type = 'short'" type="radio" name="options" id="option2" autocomplete="off"> Ejercicio
              </label>
              <label class="btn btn-light" [class.active]="editingQ.type === 'long'">
                <input (click)="editingQ.type = 'long'" type="radio" name="options" id="option3" autocomplete="off"> Problema
              </label>
            </div>
          </div>
          <br>
          <p class="editor-label">Dificultad</p>
          <div class="slidecontainer2">
            <input type="range" min="1" max="3" value="2" class="slider" [(ngModel)]="editingQ.difficulty">
            <div class="d-flex justify-content-between">
              <span>Fácil</span>
              <span>Intermedio</span>
              <span>Difícil</span>
            </div>
          </div>
        </div>
        <div class="col-6 editor-options">
          <p class="editor-label">Valor</p>
          <div class="input-group w-50 mx-auto">
            <input [(ngModel)]="editingQ.max_points" type="number" [max]="maxAssignablePoints" oninput="validity.valid||(value=0)" class="form-control" aria-describedby="helpId">
            <div class="input-group-append">
              <span class="input-group-text">/{{ calculateAssignablePoints() }}</span>
            </div>
          </div>
          <br>
          <p class="editor-label">Sección</p>
          <div ngbDropdown class="d-block w-50 mx-auto">
            <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>{{ exam.sections[editingQParent].title }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="editingQParent = i" *ngFor="let s of exam.sections; let i = index" [class.active]="i === editingQParent"
                class="dropdown-item">{{ s.title }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="collection-title">Enunciado</div>
      <quill-editor [style]="quillStyle" [(ngModel)]="editingQ.statement" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
      <div *ngIf="editingQ.type !== 'test'">
        <div class="collection-title">Solución</div>
        <quill-editor [style]="quillStyle" [(ngModel)]="editingQ.solution" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
      </div>
      <div *ngIf="editingQ.type === 'test'">
        <div class="collection-title row">
          <div class="col-4 d-flex justify-content-between">
            <span>Opciones</span>
            <button (click)="editingQ.options.push('Nueva opción')" type="button" class="btn btn-link edit-button button-newoption">
              <i class="fa fa-plus"></i>&nbsp;Nueva opción</button>
          </div>
        </div>
        <div class="row">
          <div class="editor-options-container col-4">
            <div (click)="editingOId = io" [class.option-active]="editingOId === io" class="d-flex editor-option" *ngFor="let o of editingQ.options; let io = index">
              <div [class.option-id-active]="editingOId === io" class="option-id">{{ io + 1 }}</div>
              <div [innerHTML]="o" class="option-text my-auto"></div>
              <div *ngIf="editingQ.correct_option === io" class="option-correct my-auto">
                <i class="fa fa-check"></i>
              </div>
              <button (click)="editingQ.correct_option = io" *ngIf="editingQ.correct_option !== io" [class.button-changeoption]="editingOId !== io"
                [class.button-changeoption-invert]="editingOId === io" type="button" class="btn btn-link edit-button">
                <i class="fa fa-check"></i>
              </button>
              <span (click)="editingQ.correct_option === io ? editingQ.correct_option = 0 : false; editingOId === io ? editingOId = -1 : false; editingQ.options.splice(io, 1);"
                class="option-remove">
                <i class="fa fa-times"></i>
              </span>
            </div>
          </div>
          <div class="quill-optionedit col-8">
            <quill-editor [(ngModel)]="editingQ.options[editingOId]" [style]="quillStyle" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
            <div *ngIf="editingOId === -1" class="editor-cover">
              <span class="editor-cover-text">
                Seleccione una opcion para editarla
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="editor-options d-flex justify-content-end w-100">
        <div (click)="saveQuestion()" class="control-button button-green">
          <i class="fa fa-check"></i> Guardar
        </div>
        <div (click)="editQuestion(null, null, false)" class="control-button button-blue">
          <i class="fa fa-times"></i> Cancelar
        </div>
      </div>
    </div>
  </div>

  <!-- Edit section overlay -->

  <div *ngIf="editingSId !== -1" class="edit-overlay">
    <div class="section-editor">
      <div class="editor-header">Modificando sección
        <span class="font-weight-bold">{{ this.exam.sections[editingSId] ? this.exam.sections[editingSId].title : 'Nueva sección' }}</span>
      </div>
      <div class="w-100">
        <p class="collection-title">Titulo</p>
        <span class="input-group">
          <input [(ngModel)]="editingS.title" type="text" class="form-control">
        </span>
      </div>
      <div class="w-100">
        <p class="collection-title">Contenido</p>
        <quill-editor [style]="quillStyle" [(ngModel)]="editingS.statement" [modules]="quillModules" [placeholder]="'Escribe aquí...'"></quill-editor>
      </div>
      <div class="editor-options d-flex justify-content-end w-100">
        <div (click)="saveSection()" class="control-button button-green">
          <i class="fa fa-check"></i> Guardar
        </div>
        <div (click)="editSection(null, false)" class="control-button button-blue">
          <i class="fa fa-times"></i> Cancelar
        </div>
      </div>
    </div>
  </div>

  <!-- Save exam overlay -->

  <div *ngIf="savingExam" class="edit-overlay">
    <div class="section-editor">
      <div class="editor-header">Guardando examen</div>
      <div class="w-100">
        <p class="collection-title">Titulo</p>
        <span class="input-group">
          <input [(ngModel)]="savingE.title" type="text" class="form-control">
        </span>
      </div>
      <div class="w-100">
        <p class="collection-title">Descripción</p>
        <textarea [(ngModel)]="savingE.description" class="form-control" name="col_desc" id="col_desc" rows="3" style="resize: none"></textarea>
      </div>
      <div class="w-100">
        <p class="collection-title">Asignatura</p>
        <span class="input-group">
          <input [(ngModel)]="savingE.subject" type="text" class="form-control">
        </span>
      </div>
      <div class="editor-options d-flex justify-content-end w-100">
        <div (click)="saveExam()" class="control-button button-green">
          <i class="fa fa-check"></i> Guardar
        </div>
        <div (click)="editExam(false)" class="control-button button-blue">
          <i class="fa fa-times"></i> Cancelar
        </div>
      </div>
    </div>
  </div>

</div>