.preview-container {
    box-shadow: inset 0 0 2.5rem -1rem black;
    background-color: var(--color-bg-global);
    overflow-x: auto;
    height: 100%;
}

.page-container {
    box-shadow: 0 0 2.5rem -1rem black;
    background-color: white;
    margin: 7rem auto;
}

.menu-section {
    position: absolute;
    width: 20rem;
    z-index: 2;
    height: 100%;
}

.b-card-wrapper {
    width: 100%;
}

.section-left {
    left: 0;
}

.section-right {
    right: 0;
}

.section-main {
    position: relative;
    height: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
}

.collection-list {
    height: 10.6rem;
    width: 100%;
    background-color: var(--color-bg-global);
    overflow-y: auto;
}

.collection-item {
    padding: .2rem .4rem;
    width: 100%;
    background-color: white;
}

.collection-left {
    line-height: 1.2;
}

.collection-name {
    font-size: 11pt;
    font-weight: 500;
}

.collection-details {
    font-size: 9pt;
}

.collection-controls {
    min-width: 10%;
    text-align: end;
}

.collection-controls-delete {
    color: var(--color-red-1);
    padding: .2rem;
    transition: color .2s, background-color .2s;
}

.collection-controls-delete:hover {
    color: white;
    background-color: var(--color-red-1);
}

.subheader-text {
    padding: .2rem .4rem;
}

.subheader-button {
    padding: .2rem .4rem;
    background-color: var(--color-blue-2);
    transition: background-color .2s;
    cursor: pointer;
}

.subheader-button:hover {
    background-color: var(--color-blue-2-hover);
}

table th, td {
    padding: .1rem;
    font-size: 12pt;
    font-weight: 500;
    vertical-align: middle;
}

table {
    margin-bottom: 0;
}

.slidecontainer2 {
    margin: 0 auto;
    width: 20rem;
    padding: 0 .4rem .3rem;
    font-weight: 300;
}

.slidecontainer {
    width: 100%;
    padding: 0 .4rem .3rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: .3rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--color-blue-1);
    cursor: pointer;
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-blue-1);
    cursor: pointer;
    border-radius: 100%;
}

.fullwidth-button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 15pt;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.fullwidth-button-small {
    margin: 0.2rem;
    padding: 0.2rem 1.5rem;
    font-size: 13pt;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s;
}

.edit-button {
    text-decoration: none;
    padding: .1rem .3rem;
    margin: 0;
    line-height: 1;
}

.linkbutton-blue {
    color: var(--color-blue-1);
}

.linkbutton-blue:hover {
    color: var(--color-blue-1-hover);
}

.linkbutton-red {
    color: var(--color-red-1);
}

.linkbutton-red:hover {
    color: var(--color-red-1-hover);
}

.expand-arrow {
    margin-right: 0.3rem;
    font-size: 20pt;
    color: var(--color-blue-1-hover);
}

.ap-header {
    background-color: var(--color-blue-1);
    color: white;
    padding: .1rem .4rem;
}

.ap-header-diff {
    display: inline-block;
    font-size: 7pt;
    width: 2.3rem;
    text-align: end;
}

.ap-header-name {
    font-size: 12pt;
    font-weight: 500;
}

.sec-header {
    background-color: var(--color-dark-2);
    color: white;
    padding: .1rem .4rem;
}

.sec-header-name {
    font-size: 12pt;
    font-weight: 500;
    color: var(--color-bg-global);
}

.ap-header-points {
    font-size: 10pt;
    font-weight: 400;
}

.ap-footer {
    padding: .2rem;
}

.ap-body {
    padding: .1rem .3rem;
    background-color: white;
    max-height: 4.7rem;
    overflow: hidden;
    transition: height .3s ease;
    transition: background-color .2s, color .2s;
}

.ap-body:hover {
    background-color: var(--color-bg-global);
    cursor: pointer;
}

.expanded {
    max-height: unset;
    height: auto !important;
}

.switch-onoff {
    position: relative;
    display: block;
    width: 30px;
    height: 17px;
}

.switch-onoff input {
    display: none;
}

.slider-onoff {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-onoff:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider-onoff {
    background-color: var(--color-blue-1);
}

input:focus+.slider-onoff {
    box-shadow: 0 0 1px var(--color-blue-1-hover);
}

input:checked+.slider-onoff:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider-onoff.round {
    border-radius: 12px;
}

.slider-onoff.round:before {
    border-radius: 50%;
}

.edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background: linear-gradient( rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.edit-editor {
    margin: 2rem auto;
    min-width: 60rem;
    width: 50%;
    max-height: 90%;
    background-color: white;
    overflow-y: auto;
}

.edit-details {
    margin: 4rem auto;
    min-width: 30rem;
    width: 30%;
    background-color: var(--color-blue-1);
}

.editor-header {
    background-color: var(--color-dark-1);
    color: var(--color-dark-1-text);
    font-weight: 300;
    font-size: 13pt;
    padding: .2rem .5rem;
}

.editor-options {
    text-align: center;
    padding: .5rem 1rem;
    background-color: var(--color-blue-2);
    color: white;
}

.editor-collections {
    background-color: var(--color-bg-global);
    overflow-y: auto;
    height: 30rem;
}

.editor-collection {
    width: 100%;
    background-color: white;
}

.editor-collection-checkbox {
    padding: .4rem .1rem;
    background-color: var(--color-dark-1-text);
}

.switch-onoff {
    margin: auto;
}

.collection-title {
    padding: .15rem .5rem;
    background-color: var(--color-blue-1);
    color: white;
}

.editor-collection-title {
    padding: .2rem .4rem 0;
    font-weight: bold;
}

.editor-collection-desc {
    padding: 0 .4rem .2rem;
    font-size: 11pt;
}

.msg-generating-box {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-blue-1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.msg-generating {
    display: block;
    font-size: 17pt;
    font-weight: 300;
    color: var(--color-blue-1-text);
}

.paper {
    padding: 100px;
}

.paper-section-title {
    font-size: 18pt;
    font-weight: bold;
    margin-left: 32px;
}

.paper-question {
    margin-left: 16px;
    font-size: 14pt;
    margin-bottom: 32px;
}

.paper-question-statement {
    font-size: 14pt;
    margin-bottom: 32px;
}

.paper-test-option {
    margin-left: 32px;
}

.editor-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}

.editor-cover-text {
    color: white;
    positioN: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 14pt;
}

.editor-options-container {
    text-align: left;
    background-color: white;
    color: var(--color-dark-1);
    overflow-x: hidden;
    overflow-y: auto;
}

.editor-option {
    background-color: white;
    color: var(--color-dark-1);
}

.option-id {
    background-color: var(--color-blue-2-hover);
    color: white;
    padding: .1rem .6rem .1rem 1.2rem;
    font-weight: 600;
    vertical-align: middle;
}

.option-text {
    margin-left: .4rem;
    vertical-align: middle;
}

.option-correct {
    margin-left: .25rem;
    color: var(--color-green-1);
    font-size: 10pt;
    vertical-align: top;
}

.quill-optionedit {
    border: 0;
    background-color: white;
}

.button-newoption {
    background-color: var(--color-blue-2);
    color: var(--color-dark-1-text);
    border-radius: 0;
}

.button-newoption:hover {
    background-color: var(--color-blue-2-hover);
}

.button-changeoption {
    margin-left: .25rem;
    padding: 0;
    border: 0;
    color: var(--color-blue-1-text);
    font-size: 10pt;
}

.button-changeoption:hover {
    color: var(--color-dark-1);
}

.button-changeoption-invert {
    margin-left: .25rem;
    padding: 0;
    border: 0;
    color: var(--color-dark-1);
    font-size: 10pt;
}

.button-changeoption-invert:hover {
    color: var(--color-blue-1-text);
}

.option-active {
    background-color: var(--color-dark-2);
    color: var(--color-dark-1-text);
    transition: background-color .3s
}

.option-id-active {
    background-color: var(--color-blue-1);
    color: var(--color-blue-1-text);
    transition: background-color .3s
}

.option-remove {
    margin-left: auto;
    padding: .2rem;
    color: var(--color-red-1);
}

.option-remove:hover {
    color: var(--color-red-1-hover);
}

.delete-confirm {
    color: var(--color-red-1-hover);
}

.showsolution-container {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--color-blue-2);
    color: white;
    padding: .5rem 1rem;
}